
body {
    font-family: Arial, sans-serif;
    background-color: #7E9AAA;
    color: black;
    margin: 0;
    padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1E3A1E;
  padding: 10px 20px;
  border-radius: 8px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: rgb(242, 229, 229);
}

.search-bar {
  display: flex;
  align-items: center;
  background: white;
  padding: 5px;
  border-radius: 15px;
}

.search-bar input {
  border: none;
  outline: none;
  padding: 5px;
}

.nav-links {
  display: flex;
  gap: 15px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 5px;
  transition: 0.3s;
}

.nav-links a:hover {
  background-color: #345B34;
}

nav ul li a:hover {
  color: #ffbb00;
}


h1{
    font-size: 50px;
    text-align: center;
    margin: 0;
    font-family: Roboto, sans-serif;
    font-weight: 400;
}   

h2 {
    text-align: center;
    margin: 0;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 18px;
    background-color: #fdb4bf;
    color: #605a5a;
}

h4{
    font-size: 23px;
    margin: 0;
    font-family: Roboto, sans-serif;
    font-weight: 400;
}

h5,h7{
    font-size: 28px;
    margin: 0;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    text-align: center;
    padding-top: 20px;
}

ul{
    padding-left: 15px;
}


p, li{
    font-size: 19px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 300;
}

b{
    font-weight: 400;
    font-size: 19px;
    font-family: "Noto Sans", sans-serif;
}


.designer{
    opacity: 0.8;
    font-weight: 400;
    margin: 0px 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

@media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    }
    .footerNav ul li{
        width: 100%;
        margin: 5px;
    }
}

i{
    padding: 3px;
    margin: 3px;
}

a{
    color: #fff;
    text-decoration: none;
}

.images img{
    height: 100px;
    transition: transform 0.3s ease;
}

.images:hover img{
    transform: scale(1.2);
}

.home-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

.home{
    flex: 1 1 200px;
    margin: 10px;
    text-align: center;
    padding: 20px;
}

.home1{
    text-align: center;
    background-color: #dff0fd;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 5px 8px #a7b0c6;
    margin: 10px;
}

.home-content iframe{
    border-radius: 20px;
}

figure{
    display: flex; 
    flex-wrap: wrap; 
    gap: 40px; 
    text-align: center;
}

figcaption{ 
    color: #000;
    padding: 10px;
    font-size: 16px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    margin: 0; 
}

h10{
    font-size: 25px;
    text-align: center;
}

h11{
    font-style: italic;
    font-family: "Roboto", sans-serif;
    color: #28426a;
    font-weight: 400;
} 

.email-link {
    text-decoration: underline;
    color: #007bff;
}

.symptom1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

.sym1{
    flex: 1 1 200px;
    margin: 10px;
    text-align: center;
    background-color: #dff0fd;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 5px 8px #a7b0c6;
    
}

.sym1-item{
    list-style-type: disc; 
    padding-left: 20px;
    text-align: left; 
}

.symptom1-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

.sym1-1{
    flex: 1 1 200px;
    margin: 10px;
    background-color: #dff0fd;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 5px 8px #a7b0c6;
}

.sym1-2{
    list-style-type: disc; 
}

.sym1-3 li{
    margin-bottom: 10px;
}

.symptom2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

.sym2-1{
    flex: 1 1 200px;
    margin: 10px;
    background-color: #dff0fd;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 5px 8px #a7b0c6;
}

.symptom2-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    flex: 1 1 200px;
    margin: 20px;
    background-color: #dff0fd;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 5px 8px #a7b0c6;
}


.sym-page{
    margin: 20px;
}

.sym-symbols {
    margin: 30px;

}

.symptom3, .symptom5{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sym3, .symptom4{
    flex: 1 1 200px;
    margin: 20px;
    background-color: #dff0fd;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 5px 8px #a7b0c6;
}

.sym5-1, .sym5-2, .sym8-1{
    flex: 1 1 200px;
    margin: 20px;
    background-color: #dff0fd;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 5px 8px #a7b0c6;
}

.sym9-1, .sym9-2{  
    margin: 30px;
    background-color: #dff0fd;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 5px 8px #a7b0c6;
}

.symptom8{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.symptom7, .symptom6{
    display: flex;
}

.sym7, .sym6{
    display: flex;
    flex-direction: column;
    width: 700px; 
}

.sym6-1{
    background-color: #dff0fd;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 5px 8px #a7b0c6;
    margin: 20px;
}

.sym7-1{  
    text-align: center;
    background-color: #dff0fd;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 5px 8px #a7b0c6;
    margin: 20px;
}

.sym7-2, .sym6-2{
    flex: 1;
    background-color: #dff0fd;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 5px 8px #a7b0c6;
    margin: 20px;
}

.tips{
    background-color: #dff0fd;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 5px 8px #a7b0c6;
    text-align: center;
    margin: 20px;
}


h8{
    font-size: 22px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    margin: 20px;
}

